* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #1c1c1c;
}

section#nav-container {
	height: 45px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
	padding-bottom: 10px;
}

label {
	color: white;
	font-weight: 600;
}
input#channel-url {
	width: 400px;
	max-width: 30vw;
	border: none;
	outline: none;
	border-radius: 3px;
	padding: 3px 5px;
}
input#start {
	border: none;
	padding: 3px 10px;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
}

#controls {
	display: flex;
	gap: 5px;
}
#timer,
#loading {
	color: white;
}
#loading {
	width: 400px;
}
#loading-container {
	display: flex;
	justify-content: center;
}
#progress {
	color: lightgrey;
	width: 60px;
	text-align: right;
}

#timer {
	font-weight: 700;
	width: 50px;
}

button {
	border: none;
	padding: 3px 10px;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
}

button#toggletimer {
	width: 120px;
}

section#video-container {
	width: 100%;
	height: calc(100vh - 65px);
	background-color: black;
	background-image: url('img/YouTube Roulette logo faded.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

div#instructions {
	color: white;
	width: 450px;
	max-width: 100vw;
	margin: auto;
}
div#instructions > h2 {
	margin-left: 24px;
}

iframe#video {
	margin: auto;
	height: 100%;
	width: 100%;
}

footer {
	color: #aaa;
	margin: auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-content: center;
	font-size: smaller;
}
div#credits {
	width: auto;
}

div#credits > a,
div#credits a:visited {
	color: inherit;
}
div#credits > a:hover {
	color: red;
}
