* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #1c1c1c;
}

#nav-container {
	height: 45px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

label {
	color: white;
	font-weight: 600;
}
#channel-url {
	width: 400px;
	max-width: 30vw;
	border: none;
	outline: none;
	border-radius: 3px;
	padding: 3px 5px;
}
#start {
	border: none;
	padding: 3px 10px;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
}

#controls {
	display: flex;
	gap: 80px;
}
#timer,
#loading-container {
	color: white;
}
#loading-container {
	width: 400px;
}
#loading {
	display: flex;
	justify-content: center;
}
#progress {
	color: lightgrey;
	width: 60px;
	text-align: right;
}

#timer-container {
	display: flex;
	gap: 5px;
}

#timer {
	font-weight: 700;
	font-size: 18px;
	width: 60px;
	text-align: center;
}

#maxtime-label {
	color: white;
	padding-right: 16px;
}
#maxtime-container {
	width: auto;
	max-height: 45px;
	display: flex;
	justify-content: center;
}

#maxtime-control {
	display: flex;
	flex-direction: row;
}

#maxtime-value {
	width: 50px;
	color: white;
	padding: 3px 10px;
	text-decoration: underline;
	font-weight: 600;
	text-align: center;
}

button {
	border: none;
	padding: 3px 10px;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
}

#toggletimer {
	width: 120px;
}

.max {
	background-color: lightgrey;
	color: black;
	font-weight: 500;
	padding: 2px 5px;
	width: 40px;
}

.max:hover {
	text-decoration: underline;
}

#video-container {
	width: 100%;
	height: calc(100vh - 65px);
	background-color: black;
	background-image: url('img/YouTube Roulette logo faded.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#instructions {
	color: white;
	width: 450px;
	max-width: 100vw;
	margin: auto;
	padding-top: 20px;
}
#instructions > h2 {
	margin-left: 24px;
}

#video {
	margin: auto;
	height: 100%;
	width: 100%;
}

footer {
	color: #aaa;
	margin: auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-content: center;
	font-size: smaller;
}
#credits {
	width: auto;
}

#credits > a,
#credits a:visited {
	color: inherit;
}
#credits > a:hover {
	color: red;
}

/* Orient nav section as columns for small width */
@media screen and (max-width: 670px) {
	#nav-container {
		height: 90px;
	}
	#video-container {
		height: calc(100vh - 110px);
	}

	#controls {
		flex-flow: column;
		flex-direction: column-reverse;
		align-items: center;
		gap: 15px;
	}
}
